In [1]:
import pandas as pd
import numpy as np

In [2]:
car_data=pd.read_csv("Cars data.csv")
car_data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [3]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null object
persons     1728 non-null object
lug_boot    1728 non-null object
safety      1728 non-null object
class       1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [4]:
for i in car_data.columns:
    print(car_data[i].unique(),"\t",car_data[i].nunique())

['vhigh' 'high' 'med' 'low'] 	 4
['vhigh' 'high' 'med' 'low'] 	 4
['2' '3' '4' '5more'] 	 4
['2' '4' 'more'] 	 3
['small' 'med' 'big'] 	 3
['low' 'med' 'high'] 	 3
['unacc' 'acc' 'vgood' 'good'] 	 4

In [5]:
for i in car_data.columns:
    print(car_data[i].value_counts())

low      432
med      432
vhigh    432
high     432
Name: buying, dtype: int64
low      432
med      432
vhigh    432
high     432
Name: maint, dtype: int64
5more    432
2        432
3        432
4        432
Name: doors, dtype: int64
more    576
2       576
4       576
Name: persons, dtype: int64
med      576
big      576
small    576
Name: lug_boot, dtype: int64
med     576
high    576
low     576
Name: safety, dtype: int64
unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

We did lable encoding so as to convert all object type into float so as to perform one hot encoding

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [7]:
le=LabelEncoder()

In [8]:
df=car_data.copy()

In [9]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [10]:
for i in df.columns[:-1]:
    df[i]=le.fit_transform(df[i])

In [11]:
df.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       3      3      0        0         2       1  unacc
1       3      3      0        0         2       2  unacc
2       3      3      0        0         2       0  unacc
3       3      3      0        0         1       1  unacc
4       3      3      0        0         1       2  unacc

In [12]:
for i in df.columns:
    print(df[i].value_counts())

3    432
2    432
1    432
0    432
Name: buying, dtype: int64
3    432
2    432
1    432
0    432
Name: maint, dtype: int64
3    432
2    432
1    432
0    432
Name: doors, dtype: int64
2    576
1    576
0    576
Name: persons, dtype: int64
2    576
1    576
0    576
Name: lug_boot, dtype: int64
2    576
1    576
0    576
Name: safety, dtype: int64
unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null int64
maint       1728 non-null int64
doors       1728 non-null int64
persons     1728 non-null int64
lug_boot    1728 non-null int64
safety      1728 non-null int64
class       1728 non-null object
dtypes: int64(6), object(1)
memory usage: 94.6+ KB

In [14]:
df=df.drop(columns='class')

In [15]:
df.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      0        0         2       1
1       3      3      0        0         2       2
2       3      3      0        0         2       0
3       3      3      0        0         1       1
4       3      3      0        0         1       2

### One hot encoding on the categorical variable which is 'class'

In [16]:
onehotencoder = OneHotEncoder(categorical_features = 'all')

In [17]:
encoded = onehotencoder.fit_transform(df).toarray()

/Users/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/Users/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:382: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. The passed value of 'all' is the default and can simply be removed.
  DeprecationWarning)

In [18]:
df_encoded=pd.DataFrame(encoded)

In [20]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 21 columns):
0     1728 non-null float64
1     1728 non-null float64
2     1728 non-null float64
3     1728 non-null float64
4     1728 non-null float64
5     1728 non-null float64
6     1728 non-null float64
7     1728 non-null float64
8     1728 non-null float64
9     1728 non-null float64
10    1728 non-null float64
11    1728 non-null float64
12    1728 non-null float64
13    1728 non-null float64
14    1728 non-null float64
15    1728 non-null float64
16    1728 non-null float64
17    1728 non-null float64
18    1728 non-null float64
19    1728 non-null float64
20    1728 non-null float64
dtypes: float64(21)
memory usage: 283.6 KB

In [21]:
df_encoded['class']=car_data['class']

In [22]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 22 columns):
0        1728 non-null float64
1        1728 non-null float64
2        1728 non-null float64
3        1728 non-null float64
4        1728 non-null float64
5        1728 non-null float64
6        1728 non-null float64
7        1728 non-null float64
8        1728 non-null float64
9        1728 non-null float64
10       1728 non-null float64
11       1728 non-null float64
12       1728 non-null float64
13       1728 non-null float64
14       1728 non-null float64
15       1728 non-null float64
16       1728 non-null float64
17       1728 non-null float64
18       1728 non-null float64
19       1728 non-null float64
20       1728 non-null float64
class    1728 non-null object
dtypes: float64(21), object(1)
memory usage: 297.1+ KB

In [23]:
df_encoded.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,class
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,unacc
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,unacc
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,unacc
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,unacc
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,unacc

# LOGISTIC REGRESSION

In [24]:
from sklearn.model_selection import train_test_split

In [32]:
x=df_encoded.columns[:-1]

In [34]:
X_train, X_test, y_train, y_test = train_test_split(df_encoded[x],df_encoded['class'], test_size=0.2,random_state=45,stratify=df_encoded['class'])

In [35]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(1382, 21) (1382,)
(346, 21) (346,)

In [36]:
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [37]:
model = LogisticRegression()

In [38]:
model.fit(X_train,y_train)

/Users/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [39]:
predicted_class=model.predict(X_test)

In [40]:
accuracy = accuracy_score(y_test,predicted_class)

In [41]:
accuracy

0.8728323699421965

In [42]:
from sklearn.metrics import classification_report

In [43]:
print(classification_report(y_test,predicted_class))

              precision    recall  f1-score   support

         acc       0.69      0.79      0.73        77
        good       0.60      0.21      0.32        14
       unacc       0.94      0.95      0.95       242
       vgood       1.00      0.54      0.70        13

   micro avg       0.87      0.87      0.87       346
   macro avg       0.81      0.62      0.67       346
weighted avg       0.87      0.87      0.87       346

# CONFUSION MATRIX FOR LOGISTIC REGRESSION

In [44]:
from sklearn.metrics import confusion_matrix

In [47]:
conf_m=confusion_matrix(y_test, predicted_class)

In [48]:
conf_m

array([[ 61,   2,  14,   0],
       [ 11,   3,   0,   0],
       [ 11,   0, 231,   0],
       [  6,   0,   0,   7]])

# NEURAL NETWORK

In [49]:
from sklearn.neural_network import MLPClassifier

In [50]:
nnmodel = MLPClassifier(hidden_layer_sizes=(200,100))

In [51]:
nnmodel.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(200, 100), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [52]:
n_predicted_class=nnmodel.predict(X_test)

In [53]:
accuracy_score(y_test,n_predicted_class)

1.0

In [54]:
print(classification_report(y_test,n_predicted_class))

              precision    recall  f1-score   support

         acc       1.00      1.00      1.00        77
        good       1.00      1.00      1.00        14
       unacc       1.00      1.00      1.00       242
       vgood       1.00      1.00      1.00        13

   micro avg       1.00      1.00      1.00       346
   macro avg       1.00      1.00      1.00       346
weighted avg       1.00      1.00      1.00       346

# CONFUSION MATRIX FOR NEURAL NETWORKS

In [ ]:
n_conf=confusion_matrix(y_test, n_predicted_class)

In [56]:
n_conf

array([[ 77,   0,   0,   0],
       [  0,  14,   0,   0],
       [  0,   0, 242,   0],
       [  0,   0,   0,  13]])

# FALSE POSITIVE AND FALSE NEGATIVE

In [57]:
import numpy as np

In [58]:
def false_perc(matrix):
    FP = matrix.sum(axis=0) - np.diag(matrix)
    FN = matrix.sum(axis=1) - np.diag(matrix)
    TP = np.diag(matrix)
    TN = matrix.sum() - (FP + FN + TP)
    FP = FP.astype(float)
    FN = FN.astype(float)
    TP = TP.astype(float)
    TN = TN.astype(float)
    FPR = FP/(FP+TN) # FPR - False Positive Rate
    FNR = FN/(TP+FN) # FNR - False Negative Rate
    fr=np.vstack((FPR,FNR))
    fr=fr*100
    false_rate=pd.DataFrame(fr,columns=[1,2,3,4],index=['FPR(%)','FNR(%)'])
    print(false_rate)

In [60]:
false_perc(conf_m) # for logistic regression

                1          2          3          4
FPR(%)  10.408922   0.602410  13.461538   0.000000
FNR(%)  20.779221  78.571429   4.545455  46.153846

In [61]:
nnmodel = MLPClassifier(hidden_layer_sizes=(200,100,50))
nnmodel.fit(X_train,y_train)
nnpredicted_class=nnmodel.predict(X_test)
accuracy_score(y_test,n_predicted_class)

1.0

The accuracy has not changed compared to that of the previous one. Hence a 3rd hidden layer is not required.